---
import PageHeading from '@/components/page-heading.astro';
import SEO from '@/components/seo.astro';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const allQuestions = await getCollection('questions');

	return allQuestions.map((question) => ({
		params: { skill: question.data.skill },
		props: { question },
	}));
}

const { question } = Astro.props;

const title = `${question.data.skill} Coding Questions`;
const description = `${question.data.skill} questions meant for real world and interview based scenarios.`;

const currentSkillQuestions = await getCollection(`questions-${question.slug}`);
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />
	<main class='flex flex-col gap-4'>
		<PageHeading title={title} description={description} />
		<ul>
			{
				currentSkillQuestions.map((currentSkillQuestion) => (
					<li>
						<a
							href={`/questions/coding/${question.data.skill}/${currentSkillQuestion.slug}`}
						>
							{currentSkillQuestion.data.title}
						</a>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayoutWithHeader>
