---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import {
	Card,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from './ui/card';
import { CourseCategoryBadge } from './course-category-badge';
import { Badge } from './ui/badge';
import { getEntry } from 'astro:content';

type Props = CollectionEntry<'courseMeta'>;

const { data } = Astro.props;

const { data: author } = await getEntry(data.author);
---

<Card className='scale-95 overflow-hidden transition-all hover:scale-100'>
	<Image class='min-h-40' src={data.cover} alt={data.title} />
	<CardHeader>
		<CardTitle>{data.title}</CardTitle>
		<CardDescription>{data.description}</CardDescription>
	</CardHeader>
	<CardFooter className='flex flex-col gap-4'>
		<div class='flex w-full flex-wrap items-center justify-between gap-5'>
			<div class='flex items-center gap-2'>
				{
					author.picture ? (
						<Image
							class='size-8 rounded-full md:size-12'
							src={author.picture}
							alt={author.name}
						/>
					) : (
						<div class='flex size-12 flex-col items-center justify-center rounded-full bg-primary text-white'>
							{author.name.charAt(0).toUpperCase()}
						</div>
					)
				}
				<p>{author.name}</p>
			</div>
			<Badge variant='outline'
				>{data.chapters.length}
				{data.chapters.length > 1 ? ' Chapters' : ' Chapter'}</Badge
			>
		</div>
		<div class='flex w-full items-center justify-between'>
			<Badge variant='outline'>
				<span class='sr-only'>Published on: </span>{
					data.publishDate.toLocaleDateString('en-in', {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
					})
				}</Badge
			>
			<CourseCategoryBadge category={data.category} />
		</div>
	</CardFooter>
</Card>
