---
import { isNew } from '@/utils/date';
import { Image } from 'astro:assets';
import { getEntry, type CollectionEntry } from 'astro:content';
import { Badge } from './ui/badge';
import {
	Card,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from './ui/card';

type Props = CollectionEntry<'system-design'>;

const { data } = Astro.props;

const { data: author } = await getEntry(data.author);
---

<Card className='scale-95 overflow-hidden transition-all hover:scale-100'>
	<CardHeader className='pb-4'>
		<CardTitle className='text-2xl'>{data.title}</CardTitle>
		<CardDescription>{data.description}</CardDescription>
	</CardHeader>
	<CardFooter className='flex flex-col gap-4'>
		<div class='flex w-full flex-wrap items-center justify-between gap-5'>
			<div class='flex flex-wrap items-center gap-2'>
				{
					author.picture ? (
						<Image
							class='size-8 rounded-full'
							src={author.picture}
							alt={author.name}
						/>
					) : (
						<div class='flex size-8 flex-col items-center justify-center rounded-full bg-primary text-white'>
							{author.name.charAt(0).toUpperCase()}
						</div>
					)
				}
				<p>{author.name}</p>

				<Badge variant='outline'
					>{data.chapters.length}
					{data.chapters.length > 1 ? ' Chapters' : ' Chapter'}</Badge
				>
				{
					isNew(data.publishDate) && (
						<Badge className='motion-safe:animate-pulse'>New</Badge>
					)
				}
			</div>
		</div>
	</CardFooter>
</Card>
