---
import PageHeading from '@/components/page-heading.astro';
import QuestionCard from '@/components/question-card.astro';
import SEO from '@/components/seo.astro';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';
import { getCollection } from 'astro:content';

const allQuestions = await getCollection('questions');

allQuestions.sort((a, b) => {
	const difficultyOrder = {
		easy: 1,
		medium: 2,
		hard: 3,
	};
	return (
		difficultyOrder[a.data.difficulty] - difficultyOrder[b.data.difficulty]
	);
});

const title = 'Questions';
const description =
	'Questions meant for real world and interview based scenarios.';
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />
	<main class='flex flex-col gap-4'>
		<PageHeading title={title} description={description} />
		<p class='text-muted-foreground'>
			Total questions: {allQuestions.length}
		</p>
		<ul class='flex flex-col gap-2'>
			{
				allQuestions.map((question) => (
					<li>
						<a href={`/questions/${question.slug}`}>
							<QuestionCard {...question} />
						</a>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayoutWithHeader>
