---
import PageHeading from '@/components/page-heading.astro';
import QuestionCard from '@/components/question-card.astro';
import SEO from '@/components/seo.astro';
import { Badge } from '@/components/ui/badge';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const allQuestions = await getCollection('questions');

	return allQuestions.map((question) => {
		return {
			params: {
				skill: question.data.skill,
				type: question.data.type,
			},
			props: { allQuestions },
		};
	});
}

const { skill, type } = Astro.params;
const { allQuestions } = Astro.props;

const filteredQuestions = allQuestions.filter(
	(question) => question.data.skill === skill && question.data.type === type,
);

filteredQuestions.sort((a, b) => {
	const difficultyOrder = {
		easy: 1,
		medium: 2,
		hard: 3,
	};
	return (
		difficultyOrder[a.data.difficulty] - difficultyOrder[b.data.difficulty]
	);
});

const title = `${skill[0].toUpperCase() + skill.slice(1)} ${type[0].toUpperCase() + type.slice(1)} Questions`;
const description = `${skill[0].toUpperCase() + skill.slice(1)} ${type} questions meant for real world and interview based scenarios.`;
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />
	<main class='flex flex-col gap-4'>
		<PageHeading title={title} description={description} />
		<div class='flex items-center justify-between gap-2'>
			<p class='text-muted-foreground'>
				Filtered questions: {filteredQuestions.length}
			</p>

			<a href={`/questions/${skill}`}
				><Badge
					>Show All {skill[0].toUpperCase() + skill.slice(1)} Questions</Badge
				></a
			>
		</div>
		<ul class='flex flex-col gap-2'>
			{
				filteredQuestions.map((question) => (
					<li>
						<a
							href={`/questions/${question.data.skill}/${question.data.type}/${question.slug}`}
						>
							<QuestionCard {...question} />
						</a>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayoutWithHeader>
