---
import Logo from '@/components/logo.astro';
import SEO from '@/components/seo.astro';
import ContentTabs from '@/components/content-tabs';
import { buttonVariants } from '@/components/ui/button';
import QuestionLayoutWrapper from '@/layouts/question-layout-wrapper';
import QuestionLayout from '@/layouts/question-layout.astro';
import { getCollection, getEntry } from 'astro:content';
import { ModeToggle } from '@/components/mode-toggle';

export async function getStaticPaths() {
	const allQuestions = await getCollection('questions');

	return allQuestions.flatMap((question) => {
		return question.data.questions.map((skillQuestion) => {
			return {
				params: { skill: question.data.skill, questionId: skillQuestion.slug },
				props: { skillQuestion },
			};
		});
	});
}

const { skillQuestion } = Astro.props;

const currentQuestion = await getEntry(skillQuestion);

const title = currentQuestion.data.title;
const description = currentQuestion.data.description;

const { Content: QuestionContent } = await import(
	`../../../../../content/${skillQuestion.collection}/${currentQuestion.slug}/_question.mdx`
);

const { Content: SolutionContent } = await import(
	`../../../../../content/${skillQuestion.collection}/${currentQuestion.slug}/_solution.mdx`
);
---

<QuestionLayout>
	<SEO slot='head' title={title} description={description} />

	<header slot='header' class='flex items-center justify-between py-2'>
		<a class={buttonVariants({ variant: 'secondary' })} href='/questions'
			>Back to Questions</a
		>
		<Logo />
		<ModeToggle client:load />
	</header>

	<QuestionLayoutWrapper client:load>
		<ContentTabs slot='left' client:load>
			<div slot='question' class='flex h-0 grow flex-col overflow-y-auto p-4'>
				<article class='prose max-w-none dark:prose-invert'>
					<QuestionContent />
				</article>
			</div>

			<div slot='solution' class='flex h-0 grow flex-col overflow-y-auto p-4'>
				<article class='prose max-w-none dark:prose-invert'>
					<SolutionContent />
				</article>
			</div>
		</ContentTabs>

		<div slot='right' class='flex h-0 grow flex-col overflow-y-auto'>
			<iframe
				class='h-full'
				width='100%'
				height='100%'
				title={currentQuestion.data.title}
				src={currentQuestion.data.embedUrl}
			>
			</iframe>
		</div>
	</QuestionLayoutWrapper>
</QuestionLayout>
