---
import PageHeading from '@/components/page-heading.astro';
import SEO from '@/components/seo.astro';
import SystemDesginCard from '@/components/system-desgin-card.astro';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';
import { getCollection } from 'astro:content';

const title = 'System Design';
const description = 'Our take on Frontend System Design.';

const allSystemDesigns = (await getCollection('system-design')).filter(
	(systemDesign) => systemDesign.data.isDraft !== true,
);

allSystemDesigns.sort(
	(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />
	<main class='flex flex-col gap-4'>
		<PageHeading title={title} description={description} />
		<ul class='flex flex-col gap-4'>
			{
				allSystemDesigns.map((systemDesign) => (
					<li>
						<a href={`/system-design/${systemDesign.data.chapters[0].slug}`}>
							<SystemDesginCard {...systemDesign} />
						</a>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayoutWithHeader>
